[Desktop Entry]
Version=1.0
Name=OMEGACOIN Core
Comment=OMEGACOIN P2P Cryptocurrency
Comment[fr]=OMEGACOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OMEGACOIN, eşten eşe kriptografik sanal para birimi
Exec=omegacoin-qt %u
Terminal=false
Type=Application
Icon=omegacoin128
MimeType=x-scheme-handler/omegacoin;
Categories=Office;Finance;
StartupWMClass=Omegacoin-qt
