
## <summary>policy for omegacoin</summary>


########################################
## <summary>
##	Transition to omegacoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`omegacoin_domtrans',`
	gen_require(`
		type omegacoin_t, omegacoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, omegacoin_exec_t, omegacoin_t)
')


########################################
## <summary>
##	Execute omegacoin server in the omegacoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omegacoin_initrc_domtrans',`
	gen_require(`
		type omegacoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, omegacoin_initrc_exec_t)
')


########################################
## <summary>
##	Search omegacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omegacoin_search_lib',`
	gen_require(`
		type omegacoin_var_lib_t;
	')

	allow $1 omegacoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read omegacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omegacoin_read_lib_files',`
	gen_require(`
		type omegacoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, omegacoin_var_lib_t, omegacoin_var_lib_t)
')

########################################
## <summary>
##	Manage omegacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omegacoin_manage_lib_files',`
	gen_require(`
		type omegacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, omegacoin_var_lib_t, omegacoin_var_lib_t)
')

########################################
## <summary>
##	Manage omegacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omegacoin_manage_lib_dirs',`
	gen_require(`
		type omegacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, omegacoin_var_lib_t, omegacoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a omegacoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`omegacoin_admin',`
	gen_require(`
		type omegacoin_t;
		type omegacoin_initrc_exec_t;
		type omegacoin_var_lib_t;
	')

	allow $1 omegacoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, omegacoin_t)

	omegacoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 omegacoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, omegacoin_var_lib_t)

')

