# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=OMEGACOIN Core
Comment=OMEGACOIN Core QT main network
GenericName=OMEGACOIN Digital Currency QT client main network
Exec=omegacoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/omegacoin.png
MimeType=x-scheme-handler/omegacoin;
Categories=X-Office;X-Finance;
Keywords=internet;omegacoin;zomega;omega;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
